:root {
  font-family: Helvetica, Arial, sans-serif;
  --color-gold: #EAE62F;
  --color-tan: #B09280;
  --color-blue: #698AC5;
  --color-dark: #262626;
  --color-light: #FBFAFA;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-tan); 
}


* {
  padding: 0;
  margin: 0;
}