/* sidebar css */

.sidebar {
    min-width: 15vw;
    height: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    position: relative;

}

.sidebar.closed {
    transition: 0.2s;
    min-width: 2vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sidebar-container {
    min-width: 15vw;
    height: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    position: fixed;
}

.sidebar-container-closed {
    min-width: 3vw;
    transition: 0.2s;
    overflow: hidden;

}





.logo {
    color: var(--color-light);
    font-size: 2rem;
    font-weight: bold;
    margin-right: 4rem;
}

.logo-highlight {
    color: var(--color-tan);
}


.sidebar-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0.5rem;
    height: 7vh;
    position: relative;

}

.sidebar-header a {
    text-decoration: none;
}


/* .open .sidebar-header::after {
    content: ' ';
    height: 1px;
    background-color: var(--color-tan);
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0%;

} */

.toggle-menu {
    color: var(--color-light);
    font-size: 40px;
    /* affects icons inside if no size on icon */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0rem;
    background: none;
    border: none;
    cursor: pointer;

}

/* navigation specifics */

.nav-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 1rem 0rem;
    position: relative;

}

.nav-links a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}


.link-container svg {
    padding-right: 0.5rem;
    font-size: 1.45rem;
}

.nav-links a:hover {}

.link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    /* border-radius: 8px; */
}

.link-container.active {

    background-color: rgb(58, 58, 58);
    font-weight: bold;
}

.bottom-sidebar-section {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.226);
    position: absolute;
    bottom: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.bottom-sidebar-item svg {
    font-size: 1.75rem;
    padding: 0;
}

.home-nav {
    text-decoration: none;
}